body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background: url('https://images.unsplash.com/photo-1501362343565-93d7318347cf?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9&s=61d0a580dea6bb08c380872ece25ab13') no-repeat fixed center 100%;
	background-size: cover;
}

/* Code to make page responsive */
* {
  box-sizing: border-box;
}

.row {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-4, .col-6, .col-12 {
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

.col-4, .col-6, .col-12{
  width: 100%;
}
/* end of responsive code */

header, main {
	text-align: center;
}

header {
	margin-top: 70px;
}

section {
	margin-top: 25px;
}

.pageTitle {
	color: white;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	font-size: 45px;
	margin-bottom: 0;
}

.pageInfo {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	font-size: 16px;
	margin-top: 50px;
}

input[type=text] {
	width: 200px;
	padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border: 1px solid #969696;
    border-radius: 3px;
    background-color: #3a516f;
    color: white;
    font-size: 12px;
}

input[type=text]::placeholder {
	color: white;
}

.searchButton {
	margin-left: 5px;
    width: 70px;
    color: black;
    letter-spacing: 1px;
    background-color: #feb832;
    border: 1px solid #feb832;
    border-radius: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.searchButton:hover {
	border: 2px solid white;
	cursor: pointer;
}

.sunFontIcon {
	color: #ff9b2a;
}

.js-today-time {
	margin-top: 15px;
	margin-bottom: 20px;
}

.js-today-time > .sun-times-display {
	background: transparent;
}

.sun-times-display {
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(204, 204, 204, 0.5);
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.dayNameDisplay {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	margin-top: 5px;
	margin-bottom: 0px;
}

.currentDateDisplay {
	margin-top: 0px;
}

.currentDateDisplay, .sunriseSunsetTimeDisplay {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
}

.js-weather-section, .js-weather-section-two {
	margin-left: 4%;
}

.weather-info {
	margin: 0;
	padding-top: 10px;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}

.weatherIcon {
	width: 100%;
}

.hourlyWeatherTop {
	background-color: #c7a888cc;
	display: inline-block;
	width: 12%;
	text-align: center;
}

.hourlyWeatherBottom {
	background-color: #c7a888cc;
	display: inline-block;
	width: 12%;
	text-align: center;
	margin-bottom: 40px;
} 

/* Media queries */
@media only screen and (min-width: 640px) {
.col-12 {
    width: 100%;
  }

 .col-6 {
 	width: 50%;
 }

 .pageTitle {
 	font-size: 55px;
 }

input[type=text] {
	width: 300px;
}

.weatherIcon {
	width: 60%;
}

.hourlyWeatherTop {
	margin-bottom: 45px;
	transition-property: background;
  	transition-duration: 1s;
  	transition-timing-function: linear;
}

.hourlyWeatherBottom {
	transition-property: background;
  	transition-duration: 1s;
  	transition-timing-function: linear;
}

.hourlyWeatherTop:hover, .hourlyWeatherBottom:hover {
  background: #b5b5b7bf;
}

.js-sunrise-sunset-times, .js-sunrise-sunset-times-two {
	color: white;
}

.dayNameDisplay {
	color: black;
}

.weather-info {
	font-size: 13px;
}

}

@media only screen and (min-width: 768px) {
.col-12 {
    width: 100%;
  }

 .col-6 {
 	width: 50%;
 }

 .pageTitle {
 	font-size: 55px;
 }

input[type=text] {
	width: 300px;
}

.weatherIcon {
	width: 60%;
}

.hourlyWeatherTop {
	margin-bottom: 45px;
	transition-property: background;
  	transition-duration: 1s;
  	transition-timing-function: linear;
}

.hourlyWeatherBottom {
	transition-property: background;
  	transition-duration: 1s;
  	transition-timing-function: linear;
}

.hourlyWeatherTop:hover, .hourlyWeatherBottom:hover {
  background: #b5b5b7bf;
}

.js-sunrise-sunset-times, .js-sunrise-sunset-times-two {
	color: white;
}

.dayNameDisplay {
	color: black;
}

.weather-info {
	font-size: 16px;
}

}











